#title_container{
    margin: 10px;
    width: 100%;
}

#row_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

#blue_text{
    color: rgb(153, 214, 204);
}

#alert_container{
    margin: 5px;
    width: 50%;
    border-style: double;
    border-width: 5px;
    border-color: rgb(153, 214, 204);
    color: rgb(197, 84, 127);
    padding: 5px;
    text-align: center;
    font-size: 24px;
}

.login_button_container{
	margin-left: 50px;
}

h1 {
    font-family: 'Cairo';
    font-size: 54px;
    color: rgb(197, 84, 127);
    text-shadow: -2px 2px 0px rgb(153, 214, 204);
    word-wrap: break-word;
}

#list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5%;

    width: 50%;

    background-color: rgb(5, 9, 20);
    box-shadow: -3px 3px 0px rgb(153, 214, 204);
}

hr{
    height: 1px;
    border-color: rgb(197, 84, 127);
    border-style: double;
    border-width: 1px;
    width: 95%;
}

#list_title{
    font-family:  'Major Mono Display', monospace;
    color: rgb(153, 214, 204);
    font-size: 30px;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    text-align: left;

}

ul {
    align-items: left;
    width: 90%;
    list-style: none;
}

ul li {
    text-align: left;
    padding-top: 2%;
    color: rgb(218, 212, 127);
    word-wrap: break-word;
}

p {
    width: 95%;
    margin: 2.5%;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    color: rgb(5, 9, 20);
    font-size: 20px;
    background-color: rgb(197, 84, 127);
}

.button_set{
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	float:center;
}

.selectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(5, 9, 20);
    border: solid 1px;
    border-color: rgb(153, 214, 204);
    color: rgb(153, 214, 204);

    margin-left: 10px;
    width: 100px;
    position: relative;
    left: 5px;
    
    font-family: 'Cairo';
    text-align: center;

    &:disabled{
        display: none;
    }

    &:focus{
        outline: none;
    }

    &:active{
        background-color: rgb(153, 214, 204);
        border: solid 1px;
        border-color: rgb(5, 9, 20);

        color:rgb(5, 9, 20);
    }
}
