#deliver-tod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter-trial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(5, 9, 20);

    padding: 10px;
    margin: 10px;

    min-width: 50%;
}

.enter-trial-sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

    background-color: rgb(5, 9, 20);

    padding: 20px;
    margin: 10px;

    max-width: 400px;
    min-width: 200px;

    color: rgb(197, 84, 127);
}

#trial_vote_title{
    color: rgb(153, 214, 204);
    font-size: 28px;
    font-family: 'Major Mono Display', monospace;

    padding: 10px;
}

#enter-trial-sidebar-title{
    color: rgb(153, 214, 204);
}

#trials-container{
    display: flex;
    flex-direction: row;

    justify-content: left;
    align-items: left;

    margin: 50px 10px;
}

#suggestion-container{
    border: solid 1px;
    border-color: rgb(197, 84, 127);

    margin: 10px;
    padding: 5px 20px;    
}

#suggestion-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#custom-trial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

textarea.custom-trial-input {
    margin: 20px;

    min-width: 300px;
    max-width: 70%;

    min-height: 100px;
    max-height: 50%;

    background-color: black;

    color: rgb(218, 212, 127);
}