#fancytext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family:Arial, Helvetica, sans-serif;

    border: 7px solid rgb(5, 9, 20);
    background-color: rgb(5, 9, 20);
    box-shadow: inset 1px 0 0 rgb(15, 255, 215);
    box-shadow: inset -1px 0 0 rgb(15, 255, 215);
    box-shadow: inset -1px 1px 0 rgb(15, 255, 215);
    box-shadow: inset 1px -1px 0 rgb(15, 255, 215);
    width: 500px;
    height: 300px;

    --notchSize: 40px;

    clip-path: 
    polygon(

        0 0,
        0 0,
        calc(100% - var(--notchSize)) 0,
        100% var(--notchSize),
        100% 100%,
        100% 100%,
        var(--notchSize) 100%,
        0 calc(100% - var(--notchSize))
    );
}