#login_page{
	display: flex;
	flex-direction: column-reverse;
	bottom: 0px;
	left: 0px;
	position: fixed;
}

.row_of_input{
	width:auto;
	display:inline-block;
	padding-bottom:2%;
}

#title_container{
	padding-top:5%;
	text-align:center;
	font-size:70px;
	width:auto;
}

#IGN_input_container{
	float:left;
	margin-right:4px;
}

#Game_ID_input_container{
	float:left;
	margin-left:4px;
}

#interactive_set{
	padding-top:3%;
	width:100%;
	text-align:center;
}

.button_set{
	display: flex;
	flex-direction: row;
	margin-left: 50px;
	float:center;
}

ul {
	background-color: rgb(12, 2, 20);
	padding: 20;
}

ul li {
	margin: 10;
	color: rgb(171, 218, 210);
}
