.row_of_input{
	width:auto;
	display:inline-block;
	float:center;
	padding-bottom:2%;
}

#title_container{
	padding-top:5%;
	color:red;
	text-align:center;
	font-size:70px;
}

#IGN_input_container{
	float:left;
	margin-right:4px;
}

#Game_ID_input_container{
	float:left;
	margin-left:4px;
}

#interactive_set{
	padding-top:3%;
	width:100%;
	text-align:center;
}

.submit_button_container{
	align:center;
}

h2 {
	font-family: Century Schoolbook;
	color: rgb(20, 17, 14);
	  text-shadow: 0 1px 0 black,
	  			0 -1px 0 black,
			   0 2px 0 black,
			   0 -2px 0 black,
			   0 3px 0 rgb(43, 35, 29),
			   0 -3px 0 rgb(43, 35, 29),
			   0 4px 0 rgb(43, 35, 29),
			   0 -4px 0 rgb(43, 35, 29);
	//image is a puddle of water
	background-image: url("../images/wex.png");
	background-repeat: no-repeat;
	background-position: center;
}