#possible_targets_set{
    float: center;
}

.target_container{
    float: center;
    background-image: url(../images/wex.png);
}

ul.target_container {
    background: url(../images/wex.png);
    text-align: center;
    text-decoration-color: blanchedalmond;
    text-shadow: black;
    margin-top: 10px;
}

ul.target_container li {
    background-color: rgb(49, 14, 14);
    margin: 10px;
    margin-top: 10px;
}