#punishment_container{
    width:auto;
	display:inline-block;
	padding-bottom:2%;
}

#subtitle_container{
    padding-top:5%;
	color:red;
	text-align:center;
	font-size:40px;
}

#description_container{
	padding-top:5%;
    text-align:center;
	font-size:40px;
}

.punishmentInput {
    width:400px;
    height:300px;
    
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 1px 4px #272424;
    box-shadow: -1px 4px #272424;
    padding:5px;
    text-align:center;
    //TODO: figure out how to make text wrap
    word-wrap: break-word;
    word-break: break-all;
    font-size:24px;
    color: rgb(179, 144, 196);
    background-image: url("../images/space1.png");
    background-position: center;

    &:focus{
        box-shadow: 2px 4px black;
        box-shadow: -2px 4px black;
        outline:none;
        &::-webkit-input-placeholder { color:transparent; }
        &:-moz-placeholder { color:transparent; }
    }

    &:placeholder{
        color:transparent;
    }
}

p {
    text-align: center;
    color: burlywood;
    font-size: 24px;
}

h1 {
	font-family: Century Schoolbook;
	color: rgb(41, 34, 28);
  	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
			   0 20px 20px rgba(0,0,0,.15);
    //image is a puddle of water
}