#punishment_container{
    width:auto;
	display:inline-block;
	padding-bottom:2%;
}

#subtitle_container{
    padding-top:5%;
	color:red;
	text-align:center;
	font-size:40px;
}

#description_container{
	padding-top:5%;
    text-align:center;
	font-size:40px;
}

.punishmentInput {
    width:400px;
    height:300px;
    
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 1px 4px #272424;
    box-shadow: -1px 4px #272424;
    padding:5px;
    text-align:center;
    //TODO: figure out how to make text wrap
    word-wrap: break-word;
    word-break: break-all;
    font-size:24px;
    color: rgb(179, 144, 196);
    background-image: url("../images/space1.png");
    background-position: center;

    &:focus{
        box-shadow: 2px 4px black;
        box-shadow: -2px 4px black;
        outline:none;
        &::-webkit-input-placeholder { color:transparent; }
        &:-moz-placeholder { color:transparent; }
    }

    &:placeholder{
        color:transparent;
    }
}

