.fancyInput {
    border: 2px solid black;
    //box-shadow: 1px 1px #272424;
    box-shadow: -1px 1px #272424;
    text-align:left;
    font-size:18px;
    color: rgb(94, 117, 180);
    background-color: rgb(0, 0, 0);

    width: 90%;
    margin: 5px;

    &:focus{
        box-shadow: -1px 1px #272424;
        outline:none;
        &::-webkit-input-placeholder { color:transparent; }
        &:-moz-placeholder { color:transparent; }
    }

    &:placeholder{
        color:transparent;
    }
}