.fancyInput {
    font-family:Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 1px 1px #272424;
    box-shadow: -1px 1px #272424;
    padding:5px;
    text-align:center;
    font-size:24px;
    color: rgb(179, 144, 196);
    background-image: url("../images/space1.png");
    background-position: center;

    &:focus{
        box-shadow: 1px 1px black;
        outline:none;
        &::-webkit-input-placeholder { color:transparent; }
        &:-moz-placeholder { color:transparent; }
    }

    &:placeholder{
        color:transparent;
    }
}