@import "login";
@import "button";
@import "textbox";
@import "punishment";
@import "picktarget";
@import "fancyticket";
@import "commonelements";
@import "lobby";

//fonts
@import url('https://fonts.googleapis.com/css2?&family=Cairo&family=Major+Mono+Display&display=swap');


* {
	margin: 0;
	padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: 'Cairo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  //background-image: url("../images/dmgDarkBG1.png");
}

code {
  font-family: 'Cairo';
}